<% name = @student&.name
  @title = "#{name}さんの出席修正" %>
<h1><%= @title %></h1>

<div id="generic-form">
<% if @student && @attendance %>
  <% @default_out_at = @attendance.out_at.presence || Time.current %>
  <%= form_with model: @attendance, url: admin_student_attendance_path(@student, @attendance), method: :patch, authenticity_token: true do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "修正" %>
      <%= link_to "キャンセル", :admin_students %>
    </div>
  <% end %>
<% else %>
  <p>学生または出席記録が見つかりませんでした。</p>
<% end %>

</div>
