<div class="notes">
  <span class="mark">*</span> 印のついた項目は入力必須です。
</div>
<div>
  <%= f.label :name, "氏名", class: "required" %>
  <%= f.text_field :name, required: true %>
</div>
<div>
  <%= f.label :name_kana, "氏名（カナ）", class: "required" %>
  <%= f.text_field :name_kana, required: true %>
</div>
<div>
  <%= f.label :birthday, "誕生日" %>
  <%= f.date_field :birthday %>
</div>
<div>
  <%= f.label :email, "メールアドレス", class: "required" %>
  <%= f.text_field :email, required: true %>
</div>
<% if f.object.new_record? %>
<div>
  <%= f.label :password, "初期パスワード", class: "required" %>
  <%= f.password_field :password, size: 32, required: true %>
</div>
<% end %>
<div>
  <%= f.label :registration_date, "入会日", class: "required" %>
  <%= f.date_field :registration_date, required: true %>
</div>
<div>
  <%= f.label :has_deposited_phone, "スマホ預かり設定" %>
  <div class="radio-group" >
    <div class="radio-item">
      <%= f.radio_button :has_deposited_phone, true, id: "has_deposited_phone_true" %>
      <%= f.label "has_deposited_phone_true", "はい" %>
    </div>
    <div class="radio-item">
      <%= f.radio_button :has_deposited_phone, false, id: "has_deposited_phone_false" %>
      <%= f.label "has_deposited_phone_false", "いいえ" %>
    </div>
  </div>
</div>
<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "変更" %>
</div>
<% if @student.persisted? %>
  <div>
    <%= f.label :cancellation_date, "退会日"%>
    <%= f.date_field :cancellation_date %>
  </div>
<% end %>
