<% @title = "生徒一覧" %>
<h1><%= @title %>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "生徒登録", :new_admin_student %>
  </div>

  <table class="listing">
    <tr>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>年齢</th>
      <th>メモ</th>
      <th>メールアドレス</th>
      <th>入会日</th>
      <th>退会日</th>
      <th>アクション</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.name_kana %></td>
        <td><%= student.age %></td>
        <td><%= link_to "メモ", [ :admin, student, :memos ] %></td>
        <td><%= student.email %></td>
        <td><%= student.registration_date.strftime("%Y/%m/%d") %></td>
        <td><%= student.cancellation_date&.strftime("%Y/%m/%d") %></td>
        <td class="actions">
          <%= link_to "編集", [ :edit, :admin, student ] %> |
          <%= link_to "削除", [ :admin, student ],
            data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete } %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="links">
    <%= link_to "生徒登録", :new_admin_student %>
  </div>
</div>
