<% @title = "生徒登録" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @student, url: [ :admin, @student ] do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "登録" %>
      <%= link_to "キャンセル", :admin_students %>
    </div>
  <% end %>
</div>
