<% name = @student.name
   @title = "#{name}さん" %>

<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>

  <table class="attributes">
    <tr>
      <th>名前</th>
      <td>
        <%= @student.name %>
      </td>
      </th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>
        <%= @student.name_kana %>
      </td>
    </tr>
    <tr>
      <th>学年</th>
      <td>
        <%= @student.school_grade %>
      </td>
    </tr>
    <tr>
      <th>誕生日</th>
      <td>
        <%= @student.birthday %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= @student.email %>
      </td>
    </tr>
    <tr>
      <th>入会日</th>
      <td>
        <%= @student.registration_date %>
      </td>
    </tr>
    <tr>
      <th>退会日</th>
      <td>
        <%= @student.cancellation_date %>
      </td>
    </tr>
    <tr>
      <th>未提出宿題</th>
      <td>
        <% if @homeworks.any? %>
          <% @homeworks.each do |homework| %>
            <p>種類： <%= homework.homework_type %>, ページ： <%= homework.page %></p>
          <% end %>
        <% else %>
          <p>未提出の宿題はありません。</p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>今年度の宿題忘れ</th>
      <td>
        <%= @student.homework_forgets_in_year(Date.today.year) %>回
      </td>
    </tr>
</table>

<div class="monthly-forgets">
  <% months = (3..12).to_a + (1..2).to_a %>
  <% current_year = Date.today.year %>
  <% months.each do |month| %>
    <div class="month-column">
      <h3><%= "#{month}月" %></h3>
      <% year = current_year + (month <= 2 ? 1 : 0) %>
      <p><%= @student.homework_forgets_in_month(year, month) %>回</p>
    </div>
  <% end %>
</div>
</div>
