<% @title = "ダッシュボード" %>
<h1><%= @title %></h1>

<ul class="menu">
  <li><%= link_to "生徒一覧", :admin_students %></li>
  <li><%= link_to  "生徒登録", :new_admin_student %></li>
  <li><%= link_to "出席管理", :admin_attendances %></li>
  <li><%= link_to "成績管理", :admin_grades %></li>
  <li><%= link_to "問い合わせ確認", :admin_contacts %></li>
  <li><%= link_to "お知らせ管理", :admin_root %></li>
</ul>
