<% @title = "ダッシュボード" %>
<h1><%= @title %></h1>

<ul class="menu">
  <li><%= link_to "本日", :admin_students %></li>
  <li><%= link_to  "累計", :new_admin_student %></li>
  <li><%= link_to "成績", :admin_root %></li>
  <li><%= link_to "問い合わせ", :admin_root %></li>
  <li><%= link_to "お知らせ", :admin_root %></li>
</ul>
