<tr>
  <td><%= announcement.title %></td>
  <td><%= announcement.start_date %></td>
  <td><%= announcement.end_date %></td>
  <td>
    <%= truncate(announcement.content, length:40) %>
    <%= link_to "詳細", [:admin, announcement] %>
  </td>
</tr>
