<% @title = "お知らせ一覧" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <%= paginate @announcements %>

  <div class="announcement-list">
    <% @announcements.each do |announcement| %>
      <div class="announcement-card">
        <h2 class="announcement-title"><%= announcement.title %></h2>
        <div class="announcement-dates">
          <span>掲載開始日: <%= announcement.start_date.strftime("%Y/%m/%d") %></span>
          <span>掲載終了日: <%= announcement.end_date.strftime("%Y/%m/%d") %></span>
        </div>
        <div class="announcement-content">
          <%= link_to truncate(announcement.content, length: 40), [:student, announcement] %>
        </div>
      </div>
    <% end %>

    <% if @announcements.empty? %>
      <div class="no-announcements">
        記録がありません
      </div>
    <% end %>
  </div>

  <%= paginate @announcements %>
</div>
