<% @title = "メッセージ詳細" %>
<h1 class="center-text"><%= @title %></h1>

<div class="table-wrapper">
  <div class="attributes">
    <table class="details center-text">
      <tr>
        <th>種類</th>
        <td><%= @contact.is_from_parents ? "問い合わせ" : "返信" %></td>
      </tr>
      <tr>
        <th>送信者</th>
        <td><%= @contact.sender %></td>
      </tr>
      <tr>
        <th>件名</th>
        <td><%= @contact.title %></td>
      </tr>
      <tr>
        <th>日時</th>
        <td><%= @contact.date.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    </table>
  </div>
</div>

<div class="table-wrapper">
  <div class="body">
    <%= @contact.messages %>
  </div>
</div>
