<div class="notes">
  <span class="mark">*</span> 印のついた項目は入力必須です。
</div>
<div>
  <%= f.label :title, "件名", class: "required" %>
  <%= f.text_field :title,  required: true %>
</div>
<div>
  <%= f.label :content, "内容", class: "required" %>
  <%= f.text_area :content, rows: 5, required: true %>
</div>
<div>
  <%= f.label :start_date, "掲載開始日", class: "required" %>
  <%= f.date_field :start_date, value: Date.today, required: true %>
</div>
<div>
  <%= f.label :end_date, "掲載終了日" %>
  <%= f.date_field :end_date %>
</div>
<div>
  <%= f.label :administrator_id, "管理者", class: "required" %>
  <div class="radio-group">
    <% Administrator.all.each do |admin| %>
      <label class="radio-button">
        <%= f.radio_button :administrator_id, admin.id, required: true %>
        <%= admin.code %>
      </label>
    <% end %>
  </div>
</div>
