<% @title = "未提出宿題一覧" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>

  <%= paginate @homeworks %>

  <table class="listing">
    <tr>
      <th>氏名</th>
      <th>学年</th>
      <th>未提出の宿題</th>
      <th>ページ数</th>
      <th>宿題を課した日</th>
      <th>提出期限</th>
      <th>担当</th>
      <th>アクション</th>
    </tr>
    <%= render partial: "homework", collection: @homeworks, as: "homework" %>

    <% if @homeworks.empty? %>
      <tr>
        <%= content_tag(:td, "現在未提出の宿題はありません", colspan: 7, style: "text-align: center") %>
      </tr>
    <% end %>

  </table>

  <%= paginate @homeworks %>

  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>
</div>
