<% name = @student&.name
  @title = "#{name}さんの成績入力" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <% if @student.present? %>
  <%= form_with model: @memo, url: [ :admin, @student, :memos ] do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "登録" %>
      <%= link_to "キャンセル", :admin_students %>
    </div>
  <% end %>
  <% else %>
    <p>学生が見つかりませんでした。</p>
  <% end %>
</div>
