<tr>
  <% unless @student %>
  <td>
    <%= link_to( grade.student.name, [ :admin, grade.student, :grades ]) %>
  </td>
  <% end %>
  <td><%= link_to(grade.year, [ :admin, grade.student ]) %></td>
  <td><%= grade.test_type %></td>
  <td><%= grade.subject_type %></td>
  <td><%= grade.score %></td>
  <td><%= link_to( "修正", [ :admin_root ] ) %></td>
</tr>