<% name = @student&.name
  @title = "#{name}さんの成績修正" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @grade, url: [ :admin, @student, @grade ] do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "修正" %>
      <%= link_to "キャンセル", :admin_students %>
    </div>
  <% end %>
</div>
