<% @title = "生徒の成績" %>

<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>

  <%= paginate @grades %>

  <table class="listing">
    <tr>
      <th>氏名</th>
      <th>年度</th>
      <th>テスト種別</th>
      <th>科目</th>
      <th>得点</th>
      <th>アクション</th>
    </tr>
    <%= render partial: "grade", collection: @grades, as: "grade" %>

    <% if @grades.empty? %>
      <tr>
        <%= content_tag(:td, "記録がありません", colspan: 6, style: "text-align: center") %>
      </tr>
    <% end %>

  </table>

  <%= paginate @grades %>

  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>
</div>
