<% name = @student.name
   year = @grade.year
    @title = "#{name}さんの#{year}年の成績"
%>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>

  <table class="listing">
    <tr>
      <th>年度</th>
      <th>テスト種別</th>
      <th>科目</th>
      <th>得点</th>
    </tr>
    <%= render partial: "grade", collection: @grades %>
    <% if @grades.empty? %>
      <tr>
        <%= content_tag(:td, "記録がありません",
          colspan: @student ? 4 : 5, style: "text-align: center") %>
      </tr>
    <% end %>
  </table>

  <div class="links">
    <%= link_to "生徒一覧", :admin_students %>
  </div>
</div>